In [ ]:
# Data Handling
import pandas as pd
import numpy as np

# Visualization
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px

# Machine Learning (for later use)
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

print("All libraries imported successfully üöÄ")

In [7]:
import pandas as pd

df = pd.read_csv("Airline Dataset Updated.csv")


df.head()

,Passenger ID,First Name,Last Name,Gender,Age,Nationality,Airport Name,Airport Country Code,Country Name,Airport Continent,Continents,Departure Date,Arrival Airport,Pilot Name,Flight Status
0,ABVWIg,Edithe,Leggis,Female,62,Japan,Coldfoot Airport,US,United States,NAM,North America,6/28/2022,CXF,Edithe Leggis,On Time
1,jkXXAX,Elwood,Catt,Male,62,Nicaragua,Kugluktuk Airport,CA,Canada,NAM,North America,12/26/2022,YCO,Elwood Catt,On Time
2,CdUz2g,Darby,Felgate,Male,67,Russia,Grenoble-Is√®re Airport,FR,France,EU,Europe,1/18/2022,GNB,Darby Felgate,On Time
3,BRS38V,Dominica,Pyle,Female,71,China,Ottawa / Gatineau Airport,CA,Canada,NAM,North America,9/16/2022,YND,Dominica Pyle,Delayed
4,9kvTLo,Bay,Pencost,Male,21,China,Gillespie Field,US,United States,NAM,North America,2/25/2022,SEE,Bay Pencost,On Time

In [8]:

df.info

<bound method DataFrame.info of       Passenger ID  First Name  Last Name  Gender  Age Nationality  \
0           ABVWIg      Edithe     Leggis  Female   62       Japan
1           jkXXAX      Elwood       Catt    Male   62   Nicaragua
2           CdUz2g       Darby    Felgate    Male   67      Russia
3           BRS38V    Dominica       Pyle  Female   71       China
4           9kvTLo         Bay    Pencost    Male   21       China
...            ...         ...        ...     ...  ...         ...
98614       hnGQ62      Gareth    Mugford    Male   85       China
98615       2omEzh       Kasey   Benedict  Female   19      Russia
98616       VUPiVG      Darrin     Lucken    Male   65   Indonesia
98617       E47NtS       Gayle  Lievesley  Female   34       China
98618       8JYEcz  Wilhelmine     Touret  Female   10      Poland

                      Airport Name Airport Country Code        Country Name  \
0                 Coldfoot Airport                   US       United States
1                Kugluktuk Airport                   CA              Canada
2           Grenoble-Is√®re Airport                   FR              France
3        Ottawa / Gatineau Airport                   CA              Canada
4                  Gillespie Field                   US       United States
...                            ...                  ...                 ...
98614               Hasvik Airport                   NO              Norway
98615          Ampampamena Airport                   MG          Madagascar
98616  Albacete-Los Llanos Airport                   ES               Spain
98617               Gagnoa Airport                   CI       C√¥te d'Ivoire
98618          Yoshkar-Ola Airport                   RU  Russian Federation

      Airport Continent     Continents Departure Date Arrival Airport  \
0                   NAM  North America      6/28/2022             CXF
1                   NAM  North America     12/26/2022             YCO
2                    EU         Europe      1/18/2022             GNB
3                   NAM  North America      9/16/2022             YND
4                   NAM  North America      2/25/2022             SEE
...                 ...            ...            ...             ...
98614                EU         Europe     12/11/2022             HAA
98615                AF         Africa     10/30/2022             IVA
98616                EU         Europe      9/10/2022             ABC
98617                AF         Africa     10/26/2022             GGN
98618                EU         Europe      4/16/2022             JOK

              Pilot Name Flight Status
0          Edithe Leggis       On Time
1            Elwood Catt       On Time
2          Darby Felgate       On Time
3          Dominica Pyle       Delayed
4            Bay Pencost       On Time
...                  ...           ...
98614     Gareth Mugford     Cancelled
98615     Kasey Benedict     Cancelled
98616      Darrin Lucken       On Time
98617    Gayle Lievesley     Cancelled
98618  Wilhelmine Touret       Delayed

[98619 rows x 15 columns]>

['.git', 'README.md', 'week1_data_exploration.ipynb']

In [11]:
print("Columns:")
print(df.columns)

Columns:
Index(['index', 'airline', 'flight', 'source_city', 'departure_time', 'stops',
       'arrival_time', 'destination_city', 'class', 'duration', 'days_left',
       'price'],
      dtype='object')

In [12]:
print(df.info())

print("\nMissing Values:")
print(df.isnull().sum())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 300153 entries, 0 to 300152
Data columns (total 12 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   index             300153 non-null  int64
 1   airline           300153 non-null  object
 2   flight            300153 non-null  object
 3   source_city       300153 non-null  object
 4   departure_time    300153 non-null  object
 5   stops             300153 non-null  object
 6   arrival_time      300153 non-null  object
 7   destination_city  300153 non-null  object
 8   class             300153 non-null  object
 9   duration          300153 non-null  float64
 10  days_left         300153 non-null  int64
 11  price             300153 non-null  int64
dtypes: float64(1), int64(3), object(8)
memory usage: 27.5+ MB
None

Missing Values:
index               0
airline             0
flight              0
source_city         0
departure_time      0
stops               0
arrival_time        0
destination_city    0
class               0
duration            0
days_left           0
price               0
dtype: int64

In [13]:
df.describe()

               index       duration      days_left          price
count  300153.000000  300153.000000  300153.000000  300153.000000
mean   150076.000000      12.221021      26.004751   20889.660523
std     86646.852011       7.191997      13.561004   22697.767366
min         0.000000       0.830000       1.000000    1105.000000
25%     75038.000000       6.830000      15.000000    4783.000000
50%    150076.000000      11.250000      26.000000    7425.000000
75%    225114.000000      16.170000      38.000000   42521.000000
max    300152.000000      49.830000      49.000000  123071.000000

In [14]:
important_cols = ['AIRLINE', 'ARRIVAL_DELAY', 'DEPARTURE_DELAY', 
                  'CANCELLED', 'CANCELLATION_REASON']

for col in important_cols:
    if col in df.columns:
        print(f"{col} exists ‚úÖ")
    else:
        print(f"{col} NOT found ‚ùå")

AIRLINE NOT found ‚ùå
ARRIVAL_DELAY NOT found ‚ùå
DEPARTURE_DELAY NOT found ‚ùå
CANCELLED NOT found ‚ùå
CANCELLATION_REASON NOT found ‚ùå